.form-page-content {
    margin: 0 auto;
    display: flex;
    /* min-height: 100vh; */
    background: #f6f8f9;
    flex-direction: column;
}

.page-content {
    /* min-height: 100vh; */
    background-color: #f6f8f9;
}

.page-content .page-inner {
    margin: 0 auto;
    display: flex;
    padding: 3em 1.5em;
    max-width: 500px;
    justify-content: center;
}

.logo2 {
    margin: 0 auto;
    margin-bottom: 2.5em;
}

.page-content .card{
    padding: 40px 50px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 20px 0 rgb(0 63 103 / 10%);
    border-radius: 8px;
    border: 0;
}

@media screen and (max-width:767px){
    .page-content .card{
        padding: 30px 40px;
    }
}